html, body {
    width: 100%;
    height: 100%;
}

section { 
    display: flex;
    width: 100%;
    gap: 20px;
}

section > div {
    flex: 1 1 50%;
}

.facts {
    display: flex;
    flex-direction: column;
}

.facts-list {
}


.facts-list-item {
    display: flex;
    gap: 4px;
    border: 1px solid black;
}